## Environment ##
NODE_ENV=development

## Server ##
PORT=8000
HOST=localhost

COOKIE_SECRET=igotthekey
COOKIE_PATH=/
COOKIE_EXP=200000000
COOKIE_DOMAIN=''
SECURE_COOKIE=true

APCA-API-KEY-ID=xxx
APCA-API-SECRET-KEY=xxx

AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx